#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=Install WideOS
GenericName=Live Installer
Comment=Install WideOS to harddisk
Exec=sudo -E calamares
Icon=calamares_wideOS
Terminal=False
Type=Application
Categories=System;
